body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #8c8c8c;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
li::first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
  color: #4d94ff;
}
.celsiusFahrenheit {
  position: relative;
  top: -16px;
}

.main {
  max-width: 700px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.weather-app {
  width: 100%;
  border: 1px solid #8c8c8c;
  border-radius: 10px;

  padding: 20px;
}
.overview {
  margin-bottom: 20px;
}
.main-temp {
  display: flex;
  justify-content: start;
  align-items: center;
}
.temp {
  font-size: 64px;
}
